<html>
<head>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <p>
        Welcome to the RIT Amusement Park! Use the buttons above to log in or create a new account!

        For testing instructions, please visit the <a href="https://github.com/BenjaminRM/RITAmusementPark">Public Working Repository</a> and read the README.

        <p style="color:red;"> WARNING! </p>
        This is a conceptual project, and nothing here has any actual effect (purchases, etc). 
        <p style="color:red;"> Do NOT enter any personal information or passwords! </p>
        
    </p>
    <img src="/images/windmills.jpg" />
    {{{body}}}
</body>
</html>