<html>
<head>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <p>
        Welcome to the RIT Amusement Park! Use the buttons above to log in or create a new account!
    </p>
    <img src="/images/windmills.jpg" />
    {{{body}}}
</body>
</html>